<!DOCTYPE html>
<html>
    <head>
    {%if title%}
            <title>LaserTag Project - {{title}}</title>
        {%else%}
            <title>LaserTag Project</title>
    {%endif%}
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{%static "home/game_action.css"%}">
    </head>
    <body>
        <div id="topHalf">
            <table align="center">
                <tr>
                    <th id="redHeading">Red Team</th>
                    <th id="blueHeading">Blue Team</th>
                </tr>
                <tr>
                    <td>Red data here</td>
                    <td>Blue data here</td>
                </tr>
                <tr>
                    <td>Red data here</td>
                    <td>Blue data here</td>
                </tr>
                <tr>
                    <td>Red data here</td>
                    <td>Blue data here</td>
                </tr>
                <tr>
                    <td>Red data here</td>
                    <td>Blue data here</td>
                </tr>
                <tr>
                    <td>Red data here</td>
                    <td>Blue data here</td>
                </tr>
                <tr>
                    <td>Red data here</td>
                    <td>Blue data here</td>
                </tr>
                <tr>
                    <td>Red data here</td>
                    <td>Blue data here</td>
                </tr>
                <tr>
                    <td>Red data here</td>
                    <td>Blue data here</td>
                </tr>
                <tr>
                    <td>Red data here</td>
                    <td>Blue data here</td>
                </tr>
                <tr>
                    <td>Red data here</td>
                    <td>Blue data here</td>
                </tr>
                <tr>
                    <td>Red data here</td>
                    <td>Blue data here</td>
                </tr>
            </table>
        </div>
        <div id="bottomHalf">
            <h1>Combat record </h1>
        </div>
    </body>
</html>