<!DOCTYPE html>
{%load django_bootstrap5%}
<html>
    <head>
    {%if title%}
            <title>LaserTag Project - {{title}}</title>
        {%else%}
            <title>LaserTag Project</title>
    {%endif%}
    {%load static%}
    {%bootstrap_css%}
    <link rel="stylesheet" type="text/css" href="{%static "home/game_action.css"%}">
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{%url 'index'%}">Photon</a>
                <div class="container-fluid">
                    <!-- Links -->
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link" href="{%url 'player_entry'%}">Player Entry</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{%url 'game_action'%}">Game Action</a>
                      </li>
                    </ul>
                  </div>
            </div>  
        </nav>
        <div id="topHalf">
            <div class="playerTable">
                <table align="center">
                    <tr>
                        <th id="redHeading" colspan="2">Red Team</th>
                    </tr>
                    <tr>
                        <td>Player</td><td>Pts.</td>
                    </tr>
                    {% for red_player in red_team %}
                        <tr>
                            <td>{{red_player.player_info.id}} | {{red_player.player_info.codename}}</td><td><div id="red_pts_{{red_player.player_info.id}}">0</div></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="playerTable">
                <table align="center">
                    <tr>
                        <th id="blueHeading" colspan="2">Blue Team</th>
                    </tr>
                    <tr>
                        <td>Player</td><td>Pts.</td>
                    </tr>
                    {% for blue_player in blue_team %}
                        <tr>
                            <td>{{blue_player.player_info.id}} | {{blue_player.player_info.codename}}</td><td><div id="red_pts_{{blue_player.player_info.id}}">0</div></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div id="bottomHalf">
            <h1>Combat Record </h1>
        </div>
        
        <div id="timerBox">
            <div class="timerButtons">
                <button onclick='start_warning()' class="timerButtons">Start Game</button>
                <button onclick='reset_timer()' class="timerButtons">Stop Game</button>
                <br><br>
            </div>
            <div id="timer" class="timerButtons">00:00</div>
         </div>
         <div id="warning_timer">0</div>
         
        <script src="{%static 'home/game_action.js'%}"></script>
        {%bootstrap_javascript%}
    </body>
</html>