<!DOCTYPE html>
<html>
    <head>
    {%if title%}
            <title>LaserTag Project - {{title}}</title>
        {%else%}
            <title>LaserTag Project</title>
    {%endif%}
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{%static "home/game_action.css"%}">
    </head>
    <body>
        <div id="topHalf">
            <div style="display: inline-block">
                <table align="center">
                    <tr>
                        <th id="redHeading">Red Team</th>
                    </tr>
                    {% for red_player in red_team %}
                        <tr>
                            <td>{{red_player.player_info.id}} | {{red_player.player_info.codename}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div style="display: inline-block">
                <table align="center">
                    <tr>
                        <th id="blueHeading">Blue Team</th>
                    </tr>
                    {% for blue_player in blue_team %}
                        <tr>
                            <td>{{blue_player.player_info.id}} | {{blue_player.player_info.codename}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div id="bottomHalf">
            <h1>Combat record </h1>
        </div>
        
        <div id="timerBox">
            <div class="timerButtons">
                <button onclick='start_warning()' class="timerButtons">Start Game</button>
                <button onclick='reset_timer()' class="timerButtons">Stop Game</button>
                <br><br>
            </div>
            <div id="timer" class="timerButtons">00:00</div>
         </div>
         <div id="warning_timer">0</div>
         
        <script src="{%static 'home/game_action.js'%}"></script>
    </body>
</html>