<!DOCTYPE html>
{%load django_bootstrap5%}
<html>
    <head>
        {%if title%}
            <title>LaserTag Project - {{title}}</title>
        {%else%}
            <title>LaserTag Project</title>
        {%endif%}
        {%bootstrap_css%}
    </head>
    <body>

        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                padding: 5px;
                margin-top: 60px;
            }
            body {
                margin-top: 65px;
                margin-bottom: 20px;
            }
        </style>
        <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{%url 'index'%}">Photon</a>
                <div class="container-fluid">
                    <!-- Links -->
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link" href="{%url 'player_entry'%}">Player Entry</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{%url 'game_action'%}">Game Action</a>
                      </li>
                    </ul>
                  </div>
            </div>  
        </nav>

        <form action="/player_entry" method="POST">
            {% csrf_token %}
            <div class="container" style="color: black">
                <div class="row">
                    {%if players_saved%}
                        <br>
                        <div class="alert alert-success">
                            <strong>Players successfully saved!</strong> You can go to the <a href="{%url 'game_action'%}" class="alert-link">Game Action screen.</a>.
                        </div>
                    {%endif%}
                </div>
                <div class="row">
                    <div class="col-6" style="background-color: #f24a39">
                        <div class="row">
                            <div class="col"><h1>Red Team</h1></div>
                        </div>
                        <div class="row m-0">
                            <div class="col p-0">ID</div><div class="col p-0">First Name</div><div class="col p-0">Last Name</div><div class="col p-0">Codename</div>
                        </div>
                        {{ red_player_formset.management_form }}
                        {%for form in red_player_formset%}
                        <div class="row p-0 m-0">
                            <div class="col p-0">
                                {%bootstrap_field form.id show_label=skip placeholder=''%}
                            </div>
                            <div class="col p-0">
                                {%bootstrap_field form.first_name show_label=skip placeholder=''%}
                            </div>
                            <div class="col p-0">
                                {%bootstrap_field form.last_name show_label=skip placeholder=''%}
                            </div>
                            <div class="col p-0">
                                {%bootstrap_field form.codename show_label=skip placeholder=''%}
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                    <div class="col-6" style="background-color: #4b9ce4">
                        <div class="row">
                            <div class="col"><h1>Blue Team</h1></div>
                        </div>
                        <div class="row m-0">
                            <div class="col p-0">ID</div><div class="col p-0">First Name</div><div class="col p-0">Last Name</div><div class="col p-0">Codename</div>
                        </div>
                        {{ blue_player_formset.management_form }}
                        {%for form in blue_player_formset%}
                        <div class="row p-0 m-0">
                            <div class="col p-0">
                                {%bootstrap_field form.id show_label=skip placeholder=''%}
                            </div>
                            <div class="col p-0">
                                {%bootstrap_field form.first_name show_label=skip placeholder=''%}
                            </div>
                            <div class="col p-0">
                                {%bootstrap_field form.last_name show_label=skip placeholder=''%}
                            </div>
                            <div class="col p-0">
                                {%bootstrap_field form.codename show_label=skip placeholder=''%}
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                </div>
                <div class="row">
                    <input style="float: none" type="submit" name="submit" value="Store Teams">
                </div>
            </div>
        </form>
        
        
        
        
        
        
        
        {%bootstrap_javascript%}
    </body>
</html>