<!DOCTYPE html>
<html>
    <head>
        {%if title%}
            <title>LaserTag Project - {{title}}</title>
        {%else%}
            <title>LaserTag Project</title>
        {%endif%}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>

        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                padding: 5px;
            }
        </style>

        <form action="/player_entry" method="POST">
            {% csrf_token %}
            <div style="display: inline-block">
                <table>
                    <tr>
                        <th colspan="4" >Red Team</th>
                    </tr>
                    <tr>
                        <td>ID</td><td>First Name</td><td>Last Name</td><td>Codename</td>
                    </tr>
                    {{ red_player_formset.management_form }}
                    {%for form in red_player_formset%}
                    <tr>
                        <td>
                            {{form.id}}
                        </td>
                        <td>
                            {{form.first_name}}
                        </td>
                        <td>
                            {{form.last_name}}
                        </td>
                        <td>
                            {{form.codename}}
                        </td>
                    </tr>
                    {%endfor%}
                </table>
            </div>
            <div style="display: inline-block">
                <table>
                    <tr>
                        <th colspan="4" >Blue Team</th>
                    </tr>
                    <tr>
                        <td>ID</td><td>First Name</td><td>Last Name</td><td>Codename</td>
                    </tr>
                    {{ blue_player_formset.management_form }}
                    {%for form in blue_player_formset%}
                    <tr>
                        <td>
                            {{form.id}}
                        </td>
                        <td>
                            {{form.first_name}}
                        </td>
                        <td>
                            {{form.last_name}}
                        </td>
                        <td>
                            {{form.codename}}
                        </td>
                    </tr>
                    {%endfor%}
                </table>
            </div>
            <br>
            <input style="float: none" type="submit" name="submit" value="Store Teams">
            {%if players_saved%}
                <br><p>Players Saved</p>
            {%endif%}
        </form>
        
        
        
        
        
        
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>