<!DOCTYPE html>
<html>
    <head>
        {%if title%}
            <title>LaserTag Project - {{title}}</title>
        {%else%}
            <title>LaserTag Project</title>
        {%endif%}
    </head>
    <body>

        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                padding: 5px;
            }
        </style>
        
        <form action="" type="POST">
            <div style="display: inline-block">
                <table>
                    <tr>
                        <th colspan="4" >Red Team</th>
                    </tr>
                    <tr>
                        <td>ID</td><td>First Name</td><td>Last Name</td><td>Codename</td>
                    </tr>
                    {%for form in red_player_formset%}
                    <tr>
                        <td>
                            {{form.id}}
                        </td>
                        <td>
                            {{form.first_name}}
                        </td>
                        <td>
                            {{form.last_name}}
                        </td>
                        <td>
                            {{form.codename}}
                        </td>
                    </tr>
                    {%endfor%}
                </table>
            </div>
            <div style="display: inline-block">
                <table>
                    <tr>
                        <th colspan="4" >Blue Team</th>
                    </tr>
                    <tr>
                        <td>ID</td><td>First Name</td><td>Last Name</td><td>Codename</td>
                    </tr>
                    {%for form in blue_player_formset%}
                    <tr>
                        <td>
                            {{form.id}}
                        </td>
                        <td>
                            {{form.first_name}}
                        </td>
                        <td>
                            {{form.last_name}}
                        </td>
                        <td>
                            {{form.codename}}
                        </td>
                    </tr>
                    {%endfor%}
                </table>
            </div>
            <br>
            <input style="float: none" type="button" name="submit" value="Store Teams">
        </form>
        
        
        
        
        
        
        
        
    </body>
</html>