#topHalf {
    position: absolute;
    top: 0;
    right: 40%;
    left: 0;
    bottom: 50%;
    overflow: auto;
    padding: 10px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    border: 4px solid black;
}

#bottomHalf {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    bottom: 0;
    text-align:left;
    padding: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    border: 4px solid black;
}

#timerBox {
    position: absolute;
    top: 0;
    right: 0;
    left: 60%;
    bottom: 50%;
    overflow: auto;
    padding: 10px;
    margin-top: 25px;
    margin-left: 0;
    margin-right: 25px;
    margin-bottom: 10px;
    border: 4px solid black;
}

#redHeading {
    font-size: 56px;
    padding-right: 32px;
    color: Crimson;
}

#blueHeading {
    font-size: 56px;
    padding-right: 32px;
    color: MediumBlue;
}

#warning_timer {
    visibility: hidden;
    width: 50%;
    max-height: 60%;
    background-color: #DDD;
    border: 10px double green;
    border-radius: 0%;
    color: #111;
    text-align: center;
    font-size: 150px;
    position: absolute;
    z-index: 1;
    bottom: 20%;
    left: 25%;
}

#warning_timer_text {
    font-size: 50px !important;
}

.timerButtons {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

#timer {
    font-size: 100px;
}

td{
    font-size: 32px;
}